
.ms_bg_primary {
    background-color: rgb(44, 62, 80);
}

.ms_bg_primary-light {
    background-color: rgb(58, 84, 109);
}

.ms_bg_secondary {
    background-color: rgb(26, 188, 156);
}

.ms_primary {
    color:  rgb(44, 62, 80);
}

.ms_secondary {
    color: rgb(26, 188, 156);;
}

/* Debug */

.debug section {
    min-height: 400px;
    border: solid 1px black;
}

.debug .box {
    min-height: 200px;
    border: solid 1px black;
}

.debug .card {
    height: 200px;
    background-color: gold;
    border: solid 1px black;
}

/* CSS */

body {
    padding-top: 60px;
}

/* Header */


