
.ms_bg_primary {
    background-color: rgb(44, 62, 80);
}

.ms_bg_primary-light {
    background-color: rgb(58, 84, 109);
}

.ms_bg_secondary {
    background-color: rgb(26, 188, 156);
}

.ms_primary {
    color:  rgb(44, 62, 80);
}

.ms_secondary {
    color: rgb(26, 188, 156);;
}

/* Debug */

/* CSS */

body {
    padding-top: 55px;
}

.ms_hr_white {
    width: 100px;
    border: solid 2px white;
    opacity: 1;
}

.ms_hr_black {
    width: 100px;
    border: solid 2px black;
    opacity: 1;
}

/* Header */

/* Jumbotron */

#jumbotron img {
    height: 300px;
}

/* Portfolio */
.ms_overlay {
    background-color: rgba(0, 0, 0, 0.0);
    transition: all 0.5s;
}

.ms_overlay i {
    font-size: 80px;
    color: rgba(0, 0, 0, 0.0);
    transition: all 0.5s;
}

/* Contact me */
.form-control::placeholder { 
    color: black;
    opacity: 1; 
}

/* Footer */
#footer-top i {
    height: 50px;
    width: 50px;
    padding-top: 17px;
}

/* Hover */

.ms_hover:hover .ms_overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.ms_hover:hover .ms_overlay i {
    color: rgba(255, 255, 255, 1);
}

.ms_overlay i:hover {
    scale: 1.2;
}

.ms_overlay i:active {
    scale: 1.1;
}
